body {
	background: #f9e933;
	font-family: 'Droid Sans', sans-serif;
	font-size: 100%;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	background: white;
	overflow: auto;
	border-bottom: 1px solid #DDD;
	padding: 25px 0 25px 0;
}

header h1 {
	float: left;
	width: 570px;
	font-size: 3em;
	font-weight: bold;
	font-style: italic;
	color: #b33;
}

header nav {
	float: right;
	width: 285px;
}

main {
	background: white;
	overflow: auto;
	border-bottom: 1px solid #DDD;
	padding: 40px 0;
}

main .left {
	float: left;
	width: 570px;
	padding: 30px 0;
}

main .right {
	float: right;
	width: 285px;
}

main .left h2 {
	font-size: 2em;
	font-weight: bold;
	margin: 0 0 10px 0;
}

main .left p {
	margin: 0 0 30px 0;
}

main .left h3 {
	font-style: 1.5em;
	font-size: larger;
	margin: 0 0 10px 0;
}

main .left li {
	list-style: disc;
	margin-left: 30px;
}

footer {
	overflow: auto;
	padding: 25px 0 20px 0;
}

footer .contact {
	float: left;
	width: 570px;	
}

footer .sitemap {
	float: right;
	width: 285px;
}

footer ul {
	width: 230px;
}

footer h5 {
	font-size: 1.5em;
	margin-bottom: 10px;
}

footer .sitemap .left {
	float: left;
}

footer .sitemap .right {
	float: right;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
}

.redbrown {
	color: #b33;
	font-style: italic;
}

a {
	color: #f00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}